* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;

}

a, .logo {
    text-decoration: none;
    
    cursor: pointer;
}

button {
    border: unset;
    background-color: unset;
    cursor: pointer;

}



img {
    display: block;
    width: 100%;
}



.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 35px;
   
}

.flex{
    display: flex;
}


/* header */

header {
    background-color: rgb(21, 158, 255);
    font-size: 20px;
}

header .container {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header .container .btn {
    font-size: 20px;
}

header .container ul {
    gap: 33px;
    align-items: center;
    color: white;
}

header .container ul li{
    list-style-type: none;
    
}

header .container ul li a{
   text-decoration: none;
   color: white;
}




/* main */



.schema .container {
    padding: 50px 35px 100px;
    flex-wrap: wrap;
    gap: 24px;
}

.schema .container {
    gap: 24px;
}

.schema .container .card {
    background-color: skyblue;
    color:rgb(66, 124, 217);
    font-weight: bold;
    text-align: center;
    padding: 30px 25px 30px;
    border-radius: 20px;
    width: calc((100% - 48px) / 3);
}

.schema .container .card p {
    font-size: 20px;

}

.schema .container .card i {
    color: rgb(0, 123, 200);
    font-size: 80px;
    padding-bottom: 24px;
}

.schema .container .card h2 {
    color: rgb(0, 123, 200);
    font-size: 25px;
    margin-bottom: 24px;
}



.schema .container:first-child .card:first-child {
   
    text-align: start;
    padding-bottom: 0;
    width:calc(((100% - 48px) / 3) * 2 + 23px);
  
  
}



.schema .container .card.left button {
    background-color: rgb(0, 123, 200);
    color: white;
    padding: 10px 50px;
  
    font-weight: bold;
    
    margin-top: 30px;
    border-radius: 20px;
    font-size: large;
    letter-spacing: 3px;

}

.schema .container .card.left button i {
    padding-right: 7px;
    color: white;
    font-size: inherit;
    padding-bottom: 0;
}







.schema .container .card .right{
    padding-bottom: 0 ;
    width: 50%;
}







/* purple */

.purple .container {
    padding: 100px 200px;
    gap: 60px;
    background-color:   rgb(155, 149, 239);
}

.purple .container .card {
    width: 50%;
    flex-direction: column;
}

.purple .container .left {
    color: white;
    
}

.purple .container .left img {
    padding-bottom:  115px;
    padding-top:40px;
}

.purple .container .left p {
    font-size: 20px;
    line-height: 30px;
}

.purple .container .left h2 {
    font-size: 36px;
    padding-bottom: 50px;
}

.purple .container .right {
    background-color: white;
    border-radius: 50px;
    margin-top: 190px;
    text-align: center;
    padding: 30px 40px 25px;
    align-items: center;
}

.purple .container .right h3 {
    font-size:25px;
   
}

.purple .container .right p {
    margin-top: 15px;
    font-size: 18px;
    font-style: italic;
}

.purple .container .right img {
  
    padding-bottom: 24px;
}

.purple .container .right i {
    margin-top: 24px;
    font-size: 15px;
    padding: 15px 18px;
    background-color:  rgb(155, 149, 239);
    border-radius: 50%;
}









/* testimonials */

.testimonials .container {
   
    padding: 70px 35px 100px;
    font-size: 20px;
    text-align: center;
}

.container .test-info {
    padding-bottom: 50px;
}



.container .test-info h2 {
    padding: 25px 0 35px;
    color: rgb(155, 149, 239);
    font-size: 50px;
}

.container .lines {
    flex-direction: column;
    gap: 35px;
}

  .lines .row {
    background-color:rgb(155, 149, 239);
    border-radius: 50px;
    color: white;
    padding: 20px 15px 20px;
    align-items: center;
    text-align: start;
   
}

 .row .info {
    padding: 30px 35px 0px 65px;
    line-height: 30px;
}

 .row .info i:first-child {
    vertical-align: top;
   
}


 .row .info .test-name {
    font-weight: bold;
    margin-top: 25px;
    letter-spacing: 2px;
}

 .row .image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* end testimonials */









/*  benefits squares */


.benefits .container{
      background-color: rgb(155, 149, 239);
}

 .container .ben-info h2 {
    padding: 64px 0;
    text-align: center;
    color: white;
    font-size: 50px;
}


 .container .square {
    gap: 32px;
    flex-wrap: wrap;
    padding-bottom: 64px;
  
}

  .square .card {
    width: calc((100% - 64px) / 3);
    background-color: white;
    color: rgb(191, 191, 191);
    border-radius: 18px;
    padding: 32px 34px;
}

.square .card h2 {
    font-size: 70px;
    margin-bottom: 9px;
    color: rgb(155, 149, 239);

}

.square .card h3 {
    font-size: 25px;
    color:rgb(155, 149, 239);
    margin-bottom: 18px;
}

.square .card p {
    line-height: 30px;
}

.square .card .button-more {
    background-color: rgb(155, 149, 239);
    margin-top: 20px;
    padding: 10px 50px ;
    border-radius: 20px;
    color: white;
}

/* #end benefits squares */







/* about */

.about .container {
    padding: 80px 80px 145px;
    gap: 107px;
}

.about .container .left {
    width: 70%;
}

.about .container .left h2 {
    font-size: 75px;
    color: rgb(155, 149, 239);
}

.about .container .left p {
    font-size: 20px;
    line-height: 45px;

}

.about .container .left p:first-of-type {

    padding: 35px 0 50px;
}


.about .container .right {
    
    width: 20%;
    flex-direction: column;
    margin-top: 15px;


}

 .img-about {

    position: relative;
}

 .img-about i {
    position: absolute;
    top: -10px;
    right: -10px;
    color:rgb(155, 149, 239);
    font-size: 75px;
}

.img-about img {
    border-radius: 50%;
    object-fit: cover;
}

.about .container .right p {
    font-size: 30px;
    color:rgb(155, 149, 239);
    font-weight: bold;
    padding: 25px 0 20px;
    line-height: 40px;
}

.about-button {
    background-color: rgb(155, 149, 239);
    color: white;
    width: fit-content;
    
    padding: 10px 50px ;
    border-radius: 20px;
}

.about-button i {
    padding-right: 5px;
}


/* end about */







